@model BarberServerApi.Models.Personnel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personnel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelMaill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelMaill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelImageUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonnelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
