@model BarberServerApi.Models.Personnel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personnel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonelGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonelGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelMaill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelMaill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonnelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
