@model IEnumerable<BarberServerApi.Models.Personnel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonelGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelMaill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelMaill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonnelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonnelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonnelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
